*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #cdeef1;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  color: #fff;
  background-color: #1b7a85;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  flex: 1;
  margin: 150px 40px;
}

section {
  width: 50%;
  min-height: 100px;
  border: 1px solid #9fdfe6;
  border-radius: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
