*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #188794;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #76e1ec;
}
